/* css styles */

/*-- scss:rules --*/

// Navbar and Footer

.navbar {
  font-family: $font-family-sans-serif;
  text-transform: lowercase;
  font-weight: 600;
  position: relative;
  margin: 0vw 5vw 0vw 5vw;
  border-bottom: 1px solid $black;
  min-height: 80px;
  .navbar-title {
    font-family: $font-family-serif;
    font-weight: 700;
    font-style: normal;
    color: $mw-dark;
  }
  a:hover {
    text-decoration: underline solid $mw-color;
  }
  .navbar-brand {
    // position in middle always
    position: absolute;
    left: 50%;
    margin-left: -30px !important;  /* 50% of your logo width */
    .navbar-logo {
      max-height: 60px;
    }
  }
}

.footer {
  border-top: 1px solid $mw-dark;
}

// Title Block 

.quarto-title-block {
  padding-bottom: 2em;
  border-bottom: 1px solid $black;
}

.quarto-title {
  padding-bottom: 2em;
}

.quarto-title-meta-heading {
  font-family: $font-family-serif;
  color: $mw-color;
}

.quarto-title-meta-contents {
  font-family: $font-family-serif;
}

#title-block-header {
  border-bottom: 0px solid $black !important;
}

